.inline-flex {
    display: inline-flex;
}

.w-100-vh {
    width: 100vh;
}

.align-flex-end {
    align-items: flex-end;
}

.gap-20 {
    gap: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}
